.register-page {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: linear-gradient(135deg, #016A4A 0%, #079669 50%, #1ACB8B 100%);
    display: flex;
    justify-content: center;
    align-items: flex-start;   
    padding-top: 40px;         
    overflow: hidden;
}



.register-card {
    width: 450px;
    background: #ffffff;
    padding: 24px 30px;        
    border-radius: 18px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.25);
    animation: fadeIn 0.4s ease;

    max-height: 90vh;          
    overflow-y: auto;          
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to   { opacity: 1; transform: translateY(0); }
}

.register-card h2 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 4px;
    color: #2B3A50;
}

.subtitle {
    text-align: center;
    opacity: 0.7;
    margin-bottom: 18px;       
    font-size: 14px;
}



.form-group {
    margin-bottom: 10px;       
}

.form-group label {
    display: block;
    margin-bottom: 4px;        
    font-weight: 600;
    font-size: 14px;
    color: #2B3A50;
}



input {
    width: 95%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #dfe3e8; 
    font-size: 20px;
    transition: 0.2s ease;
    background: white;
}

select {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #dfe3e8; 
    font-size: 20px;
    transition: 0.2s ease;
    background: white;
}

input:focus,
select:focus {
    border-color: #0F4C81;
    outline: none;
    box-shadow: 0 0 0 2px rgba(15, 76, 129, 0.15);
}



.primary-btn {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: linear-gradient(35deg, #016A4A 0%, #079669 50%, #1ACB8B 100%);
    transition: 0.2s ease;
}


.primary-btn:hover {
    filter: brightness(1.08);
}



.divider {
    text-align: center;
    margin: 14px 0;
    color: #666;
    font-size: 14px;
}



.google-register > div {
    width: 100% !important;
}

.google-register iframe {
    width: 100% !important;
}



.bottom-text {
    text-align: center;
    margin-top: 14px;
    color: #666;
    font-size: 14px;
}

.bottom-text span {
    color: #1A6FB5;
    cursor: pointer;
    transition: 0.2s ease;
}

.bottom-text span:hover {
    text-decoration: underline;
}



@media (max-width: 480px) {
    .register-card {
        width: 75%;
        padding: 20px;
        max-height: 95vh;
    }

    .register-card h2 {
        font-size: 22px;
    }
}
