*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Inter", system-ui, sans-serif;
  background: #041f14;
  color: #eaf7f1;

  /* foarte important: pagina NU scrollează */
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
}
